.question {
    display: flex;
    background: rgba(0,0,0,.6);
    border: 4px double #ff0000;
    color: aquamarine;
    font-size: 40px;
    padding: 10px;
}
.q_list {
    display: flex;
    flex-direction: column;
}
